@page
@model E_learning.Pages.tutorialpageModel
@{
    var rng = new Random();
}

<h1>Tutorial Page</h1>

@foreach (var tutorial in Model.Tutorials)
{
    if (tutorial.ProgrammingLanguage == Model.language)
    {
        <h1>@tutorial.Title</h1>
        <p>@tutorial.Description</p>
        <p>@tutorial.Content</p>

        <form method="get">
            @foreach (var quiz in tutorial.QuizQuestions)
            {
                <h1>Quiz</h1>
                <h3>@quiz.Question</h3>
                var answers = new List<string> { quiz.Answer1, quiz.Answer2, quiz.Answer3, quiz.CorrectAnswer };
                answers = answers.OrderBy(a => rng.Next()).ToList();
                foreach (var answer in answers)
                {
                    
                    <input type="radio" name="answer" value="@answer">@answer<br>
                }
                
                <input type="hidden" name="id" value="@Model.language" />
               
                <hr />
            }
            <input type="submit" value="submit" />
        </form>

        @if (Request.Query.ContainsKey("answer"))
        {
            var correctAnswers = 0;
            var totalQuestions = 0;
            foreach (var quiz in tutorial.QuizQuestions)
            {
                totalQuestions++;
                var submittedAnswer = Request.Query["answer"].ToString();
                if (submittedAnswer == quiz.CorrectAnswer)
                {
                    correctAnswers++;
                }
            }

            <h3>You scored @correctAnswers out of @totalQuestions.</h3>
        }
    }
}
