@page
@model E_learning.Pages.tutorialpageModel
@{
    var rng = new Random();
    var currentIndex = Model.CurrentIndex;
}

<h1>Tutorial Page</h1>

@if (Model.CurrentTutorial == null)
{
    <p>No tutorial found.</p>
}
else
{
    <h1>@Model.CurrentTutorial.Title</h1>
    <p>@Model.CurrentTutorial.Description</p>
    <p>@Model.CurrentTutorial.Content</p>

    <form method="get">
        @foreach (var quiz in Model.CurrentTutorial.QuizQuestions)
        {
            <h1>Quiz @quiz.Id</h1>
          
            <h3>@quiz.Question</h3>
            var answers = new List<string> { quiz.Answer1, quiz.Answer2, quiz.Answer3, quiz.CorrectAnswer };
            answers = answers.OrderBy(a => rng.Next()).ToList();
            foreach (var answer in answers)
            {
                <input type="radio" name="answer" value="@answer">@answer<br>
            }
            <input type="hidden" name="id" value="@Model.language" />

            <hr />
        }
        <input type="submit" value="Check answer" />
    </form>

    <form method="post">

        <input type="hidden" name="id" value="@Model.language" />

        @foreach (var quiz in Model.CurrentTutorial.QuizQuestions)
        {
            <input type="hidden" name="quizid" value="@quiz.Id" />
            <input type="hidden" name="correctanswer" value="@quiz.CorrectAnswer" />}
        <input type="submit" value="Submit" />
    </form>
   

    @if (Request.Query.ContainsKey("answer"))
    {

        var totalQuestions = 0;
        var CorrectAnswers = 0;

        foreach (var quiz in Model.CurrentTutorial.QuizQuestions)
        {
            totalQuestions++;
            var submittedAnswer = Request.Query["answer"].ToString();
            if (submittedAnswer == quiz.CorrectAnswer)
            {
                CorrectAnswers++;
            }
        }

        <h3>You scored @CorrectAnswers out of @totalQuestions.</h3>
    }

    @if (Model.HasPreviousTutorial)
    {
        //previous
        <a id="q_btn" class="prev" asp-page="./TutorialPage" asp-route-id="@Model.language" asp-route-index="@Model.PreviousIndex">&lt</a>
    }

    @if (Model.HasNextTutorial)
    {
        //next
        <a id="q_btn" class="next" asp-page="./TutorialPage" asp-route-id="@Model.language" asp-route-index="@Model.NextIndex">&gt</a>
    }
}
